body {
    background: rgb(226, 216, 216);
    color: #333;
}

.searchable-dropdown {
    width: 300px;
}

.searchable-dropdown[aria-disabled="true"] .searchable-dropdown-select-btn {
    cursor: not-allowed;
    background: rgba(0,0,0,0)
}

.searchable-dropdown-select-btn, .searchable-dropdown-options li {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.searchable-dropdown-select-btn {
    height: 30px;
    padding: 0 15px;
    font-size: 18px;
    background: #fff;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #939191;
}

.searchable-dropdown.active .searchable-dropdown-select-btn .searchable-dropdown-angle-down {
    transform: rotate(-180deg);
}

.searchable-dropdown-select-btn .searchable-dropdown-angle-down {
    font-weight: 900;
    padding-top: 10px;
    transition: transform 0.3s linear;
}

.searchable-dropdown-content {
    display: none;
    margin-top: 5px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.searchable-dropdown.active .searchable-dropdown-content {
    display: block;
}

.searchable-dropdown-content .searchable-dropdown-search {
    position: relative;
}

.searchable-dropdown-search input {
    height: 30px;
    width: 100%;
    font-size: 16px;
    padding: 4px 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
}

.searchable-dropdown-content .searchable-dropdown-options {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    padding-right: 3px;
}

.searchable-dropdown-options::-webkit-scrollbar {
    width: 8px;
}

.searchable-dropdown-options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.searchable-dropdown-options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.searchable-dropdown-options li {
    height: 30px;
    padding: 0 10px;
    font-size: 18px;
    border-radius: 5px;
}

.searchable-dropdown-options li:hover, .searchable-dropdown-options li.selected {
    background: #f2f2f2;
}
